@import "~@style/page.scss";

@keyframes rotate {
    0% {
        transform: rotate(72deg);
        border-color: $dawn;
    }

    25% {
        transform: rotate(144deg);
        border-color: $sallow;
    }

    50% {
        transform: rotate(216deg);
        border-color: $indigo;
    }

    75% {
        transform: rotate(288deg);
        border-color: $sallow;
    }

    100% {
        transform: rotate(360deg);
        border-color: $dawn;
    }
}

@keyframes rotateText {
    0% {
        color: $dawn;
    }

    25% {
        color: $sallow;
    }

    50% {
        color: $indigo;
    }

    75% {
        color: $sallow;
    }

    100% {
        color: $dawn;
    }
}

@keyframes desText {
    0% {
        color: $dawn;
        text-shadow: 0 1rem 6rem rgba(247, 244, 237, 0.65);
    }

    33% {
        color: $indigo;
        text-shadow: 0 1rem 6rem rgba(22, 97, 171, 0.65);
    }

    66% {
        color: $sallow;
        text-shadow: 0 1rem 6rem rgba(128, 99, 50, 0.65);
    }

    100% {
        color: $dawn;
        text-shadow: 0 1rem 6rem rgba(247, 244, 237, 0.65);
    }
}

.banner {
    width: 1400rem;
    height: 500rem;

    &_list {
        flex: 1;
    }

    &_pub {
        position: absolute;
        @include flex();
        width: 200rem;
        height: 200rem;
        font-size: 32rem;

        &>span {
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &_af {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(247, 244, 237, 0.05);
        box-shadow: 1rem 1rem 12rem rgba(247, 244, 237, 0.95);
        animation: rotate 3s infinite;
    }

    &_name {
        @extend .banner_pub;
        top: 45rem;
        left: 0rem;
        animation: rotateText 5s 0.1s infinite;

        &::before {
            @extend .banner_af;
        }
    }

    &_link {
        @extend .banner_pub;
        top: 165rem;
        left: 115rem;
        z-index: 2;
        font-size: 24rem;
        animation: rotateText 5s 0s infinite;

        &::before {
            @extend .banner_af;
            width: 80%;
            height: 80%;
            box-shadow: 0 3rem 8rem rgba(247, 244, 237, 0.75);
        }
    }

    &_des {
        @extend .banner_pub;
        top: 145rem;
        left: 285rem;
        animation: rotateText 5s 0.5s infinite;

        &::before {
            @extend .banner_af;
            box-shadow: 2rem 1rem 8rem rgba(247, 244, 237, 0.75);
        }
    }

    &_rem {
        font-size: 48rem;
        position: absolute;
        top: 110rem;
        white-space: nowrap;
        animation: desText 8s 0s infinite;
    }

    &_b {
        top: 235rem;
        left: 55rem;
    }
}

.en {
    white-space: initial;
    width: 850rem;
    font-size: 42rem;
}