@import '~@style/page.scss';

.bg {
    background-color: $mulberry !important;
    min-height: 800rem !important;
}

.box {
    height: calc(100vh - 101rem);
    overflow: hidden;
    overflow-y: overlay;
    -webkit-overflow-scrolling: touch;
}