@import '../../style/page.scss';

.footer {
    color: $dawn;
    font-size: 13rem;
    text-align: center;
}

.beian {
    color: $dawn;
    &:hover, &:active {
        text-decoration: none;
    }
}