@import '../../style/page.scss';

.footer {
    font-size: 24rem;
    text-align: center;
    padding-block: 30rem;
    border-top: 2px solid rgb(255 255 255 / 0.15);
}

.beian {
    color: $dawn;
    &:hover, &:active {
        text-decoration: none;
    }
}